<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NEWS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf ="news.length">
    <ion-card *ngFor ="let data of news" (click)="open_browser(data)">
      <img [src]=data.urlToImage>
      <!-- <ion-card-header>
        <ion-card-subtitle>Destination</ion-card-subtitle>
        <ion-card-title>Madison, WI</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        {{data.title}}
      </ion-card-content>
    </ion-card>
  </div>
  <div *ngIf="!news.length">
    <h2 class="ion-text-center">No news available</h2>
  </div>
</ion-content>
