<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>VISITORS</ion-title>
    <ion-buttons slot="end" *ngIf ="!list">
      <button  class="add-visitor" (click)="add(null)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="!list">
    <ion-list *ngIf="visitors.length">
      <ion-item *ngFor="let data of visitors" (click)="add(data)">
        <ion-label>
          <h3>{{data.name}}</h3>
          <p>{{data.date}}</p>
        </ion-label>
        <!-- <ion-label>{{data.name}} <spam><sub></sub>22/25/205</spam></ion-label> -->
      </ion-item>
    </ion-list>
    <div class="nodata" *ngIf="!visitors.length">
      <button  class="add-visitor" (click)="add(null)">
        <ion-icon name="add-circle-outline"></ion-icon>
      </button>
      <h2 (click)="add(null)">
        Add a visitors
      </h2>
    </div>

  </div>
  <div class="ion-padding" *ngIf="list">
    <form [formGroup]="visitorsForm" (ngSubmit)="submit(visitorsForm.value)" (keyup.enter)="submit(visitorsForm.value)">
      
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input type="text" formControlName="name"></ion-input>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="visitorsForm.get('name').hasError('required') && visitorsForm.get('name').touched">
        <label style="color: crimson" >Name required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
        <ion-input type="text" formControlName="email"></ion-input>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="visitorsForm.get('email').hasError('required') && visitorsForm.get('email').touched">
        <label style="color: crimson" >Email required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating">Type of visit</ion-label>
        <ion-select  formControlName="visit">
          <ion-select-option *ngFor="let type of visittype" value="{{type.id}}">{{type.title}}</ion-select-option>
          <!-- <ion-select-option value="m">Male</ion-select-option> -->
        </ion-select>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="visitorsForm.get('visit').hasError('required') && visitorsForm.get('visit').touched">
        <label style="color: crimson" >Visit type required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating">Person to visit</ion-label>
        <ion-input type="text" formControlName="visitperson"></ion-input>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="visitorsForm.get('visitperson').hasError('required') && visitorsForm.get('visitperson').touched">
        <label style="color: crimson" >Visit person required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating">Date of entry</ion-label>
        <ion-input type="text" formControlName="entrydate"></ion-input>
        <!-- <ion-datetime disabled formControlName="entrydate" displayFormat="DD/MM/YYYY" ></ion-datetime> -->
        <!-- <ion-input type="text" ></ion-input> -->
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="visitorsForm.get('entrydate').hasError('required') && visitorsForm.get('entrydate').touched">
        <label style="color: crimson" >Entry date required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating">Entry time</ion-label>
        <ion-datetime formControlName="entrytime" displayFormat="HH:mm" ></ion-datetime>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="visitorsForm.get('entrytime').hasError('required') && visitorsForm.get('entrytime').touched">
        <label style="color: crimson" >Entry time required</label></small>
      </div>
      <ion-item>
        <ion-label position="floating">Exit time</ion-label>
        <ion-datetime formControlName="exittime" displayFormat="HH:mm" ></ion-datetime>
      </ion-item>
      <div class="error-messages">
        <small style="text-align: left" *ngIf="visitorsForm.get('exittime').hasError('required') && visitorsForm.get('exittime').touched">
        <label style="color: crimson" >Exit time required</label></small>
      </div>
      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button color="primary" shape="round" (click)="submit(visitorsForm.value)">Add visitors</ion-button>
        </ion-col>
      </ion-row>
    </form>
  </div>
</ion-content>
